/* pages/home/home.wxss */
/* 点击按钮前 */
.startBefore {
  height: 100%;
  width: 100%;
  position: relative
}

.personAndface {
  height: 920rpx;
  width: 100%;
  position: relative;
}

.personAndface image {
  height: 920rpx;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.startButton {
  height: 170rpx;
  width: 170rpx;
  margin: 0 auto;
  margin-top: 90rpx;
}

.startButton image {
  height: 170rpx;
  width: 170rpx;
}

.animateLine {
  height: 26rpx;
  width: 228rpx;
  position: absolute;
  top: 170rpx;
  left: 50%;
  margin-left: -114rpx;
  -webkit-animation: sk-wanderingCube 2.3s linear -2.3s infinite both;
}

@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: translateY(20rpx);
    transform: translateY(20rpx);
  }

  25% {
    -webkit-transform: translateY(195rpx);
    transform: translateY(195rpx);
  }

  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateY(370rpx);
    transform: translateY(370rpx);
  }

  75% {
    -webkit-transform: translateY(195rpx);
    transform: translateY(195rpx);
  }

  100% {
    -webkit-transform: translateY(0rpx);
    transform: translateY(0rpx);
  }
}

.animateLine image {
  height: 26rpx;
  width: 228rpx;
}


.camerabgImage-view {
  height: 920rpx;
  width: 100%;
}

.showCanvas {
  position: absolute;
  top: 0;
  height: 920rpx;
  width: 100%;
}

.downloadCanvas {
  position: absolute;
  left: -999px;
  top: -999px;
  height: 920rpx;
  width: 100%;
}

.first {
  position: absolute;
  bottom: 10rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}

.inner {
  margin: 4px auto;
  width: 48px;
  height: 48px;
  background-image: linear-gradient(#FFB2C8, #F07392);
  border-radius: 50%;
}

.left image {
  width: 44rpx;
  height: 44rpx;
}

.auto image {
  width: 25px;
  border-radius: 5px;
}


.module {
  margin-top: 20rpx;
  display: flex;
  text-align: center;
}

.img-total {
  display: flex;
  width: 100%;
  text-align: center;
}

.img {
  width: 60px;
  margin-right: 5px;
}

.img image {
  width: 60px;
  height: 90px;
}

.operation-choose image {
  width: 60rpx;
  height: 60rpx;
}

.photoImg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
}

.second {
  position: absolute;
  bottom: 20rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.second image {
  width: 50rpx;
}

.download image {
  width: 100rpx;
}

.startEnd {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999
}

.analysis image {
  height: 283rpx;
  width: 283rpx;
  margin-top: 290rpx;
  margin-left: 233rpx;
}