image {
  height: 100%;
  width: 100%;
}

view {
  margin: 0;
  padding: 0;
}

.page {
  width: 544rpx;
  overflow-x: hidden;
  background-color: #fff;
}

.skinColor,
.Stains,
.Wrinkleproblem,
.Poreproblems,
.Acneproblems,
.moleproblems,
.eyeproblems,
.blackheadproblem {
  width: 100%;
  overflow-x: hidden;
}

.photo {
  height: 346rpx;
  width: 750rpx;
  padding-top: 70rpx;
  position: relative;
  background: #e5e2e2;
  z-index: 1;
  left: 0;
  top: 40rpx;
}

.photo>.bgimg {
  height: 250rpx;
  width: 250rpx;
  margin: 0 auto;
  margin-top: -35rpx;
  box-sizing: border-box;

}

.photo .bgimg image {
  height: 250rpx;
  width: 250rpx;
}

.photo .linkimg {
  height: 200rpx;
  width: 200rpx;
  position: absolute;
  margin-left: -100rpx;
  left: 50%;
  margin-top: -150rpx;
  top: 50%;
}

.photo .linkimg image {
  height: 200rpx;
  width: 200rpx;
}

.result {
  background: url("http://aitest.hnzop.com/result1px.png") repeat-y;
  width: 750rpx;
  height: auto;
  padding-top: 890rpx;
}

.complex {
  height: 880rpx;
  width: 544rpx;
  background: #fff;
  border-radius: 20rpx;
  position: absolute;
  z-index: 2;
  top: 470rpx;
  left: 50%;
  margin-left: -272rpx;
  margin-top: -76rpx;
}

.pageOne {
  height: 100%;
  width: 100%;
  margin-left: 0%;
  overflow: hidden;
  position: relative;
}

.gopay {
  position: absolute;
  top: 0;
  left: 0;
  height: 880rpx;
  width: 544rpx;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

.gopay>view {
  height: 100%;
  width: 100%;
  position: relative
}

.gopay .close {
  height: 28rpx;
  width: 28rpx;
  right: 118rpx;
  top: 220rpx;
  position: absolute;
}

.gopay .needpay {
  height: 300rpx;
  width: 270rpx;
  position: absolute;
  top: 150rpx;
  left: 50%;
  margin-left: -135rpx;
}

.paybt {
  height: 40rpx;
  width: 136rpx;
  position: absolute;
  top: 478rpx;
  left: 50%;
  margin-left: -68rpx;
  border: 1rpx solid #fff;
  border-radius: 8rpx;
  line-height: 40rpx;
  text-align: center;
  font-size: 16rpx;
  color: #fff;
}

@keyframes myfirst {
  0% {
    transform: translate(0px, -2px);
  }

  20% {
    transform: translate(0px, -4rpx);
  }

  40% {
    transform: translate(0px, -8rpx);
  }

  60% {
    transform: translate(0px, -6rpx);
  }

  80% {
    transform: translate(0px, -4rpx);
  }

  100% {
    transform: translate(0px, -2rpx);
  }
}

.dh {
  position: absolute;
  display: block;
  top: 1223rpx;
  height: 96rpx;
  width: 96rpx;
  left: 50%;
  margin-left: -48rpx;
  animation: myfirst 1.2s infinite;
  z-index: 5
}

.pageOne .title {
  height: 40rpx;
  font-size: 32rpx;
  margin-top: 30rpx;
  width: 100%;
  color: #cbb09d;
  text-align: center;
  font-weight: 500;
}

.pageOne .gradesText {
  font-size: 24rpx;
  float: left;
  color: #cbb09d;
  margin-top: 38rpx;
  text-indent: 20rpx;
}

.pageOne .echartstx {
  height: 74rpx;
  width: 120rpx;
  margin-right: 100rpx;
  font-size: 24rpx;
  color: #fff;
  float: right;
  margin-top: 18rpx;
  position: relative;
  overflow:hidden
}

.echartstx .echartsgrades {
  height: 88rpx;
  width: 88rpx;
  margin: 0 auto;
  margin-top: -5rpx;

}

.echartstx .echartstext {
  height: 26rpx;
  width: 120rpx;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow:hidden
}

.echartstx .echartstext image {
  height: 26rpx;
  width: 120rpx;
}

.skinAge {
  width: 100%;
  height: 24rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  text-indent: 19rpx;
  color: #C4A895;

}

.skinAge span {
  height: 24rpx;
  width: 34rpx;
}

.skinAge image {
  height: 24rpx;
  width: 34rpx;
  margin-left: 13rpx;
  vertical-align: middle;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.leiDaTu {
  height: 350rpx;
  width: 370rpx;
  margin: 0 auto;
}

.echartsx2 ec-canvas {
  width: 100%;
  height: 100%;
}

.testResults {
  width: 400rpx;
  margin: 0 auto;
  font-size: 15rpx;
  color: #d6c3b5;
  margin-bottom: 20rpx;
}

.buttonbottom {
  width: 300rpx;
  height: auto;
  float: left;
  margin-left: 26rpx;
  color: #fff;
  font-size: 20rpx;
}

.buttonbottom span {
  position: absolute;
  left: 12rpx;
  height: 46rpx;
  width: auto;
  top: 0;
  line-height: 46rpx;
  z-index: 5
}

.buttonbottom .seeReport {
  width: 224rpx;
  height: 46rpx;
  margin-bottom: 12rpx;
  position: relative;
}

.seeReport image {
  width: 224rpx;
  height: 46rpx;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonbottom .getPlan {
  height: 46rpx;
  width: 300rpx;
  position: relative;
}

.getPlan image {
  height: 46rpx;
  width: 300rpx;
  position: absolute;
  top: 0;
  left: 0;
}

.wxbottom {
  height: 100rpx;
  width: 100rpx;
  float: right;
  margin-right: 66rpx;
  position: relative;
}

.wxbottom image {
  height: 100rpx;
  width: 100rpx;
  position: absolute;
  left: 0;
  top: 0;
}

.gg {
  width: 100%;
  margin-top: -8rpx;
  text-align: right;
  line-height: 30rpx;
  font-size: 15rpx;
}

.wt {
  color: #a58168;
  font-size: 18rpx;
  font-weight: bold;
}


/* 支付模块*/
.payModule {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999999999999999999999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.14);
  overflow:hidden;
}

.contain {
  height: 1148rpx;
  width: 100%;
  position: relative;
  z-index: 99999999999;
  top: 186rpx;
  overflow: hidden;
}

.contain image {
  height: 100%;
  width: 100%;
}

.contain .all {
  height: 1148rpx;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.monny {
  font-size: 60rpx;
  color: #a98b76;
  margin-top: 96rpx;
  text-align: center;
}

.monny span {
  font-size: 44rpx;
  color: #cfc0b6;
}

.wxpay {
  width: 260rpx;
  height: 260rpx;
  margin: 0 auto;
  margin-top: 26rpx;
  position: relative;
  left: 50%;
  margin-left: -130rpx;
  z-index: 10;
  overflow:hidden
}

.wxpay .title {
  color: #a68974;
  width: 100%;
  text-align: center;
  font-size: 18rpx;
  letter-spacing: 1rpx;
}

.yess {
  font-size: 27rpx;
  height: 86rpx;
  width: 320rpx;
  margin: 0 auto;
  margin-top: 350rpx;
  background: #cbb09d;
  border-radius: 10rpx;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  /*左右居中*/
  justify-content: center;
  /*上下居中*/
  align-items: center;
}

.nos {
  font-size: 27rpx;
  height: 86rpx;
  width: 320rpx;
  margin: 0 auto;
  margin-top: 18rpx;
  border: 1px solid #bfab9f;
  border-radius: 10rpx;
  color: #b59d8b;
  display: flex;
  /*左右居中*/
  justify-content: center;
  /*上下居中*/
  align-items: center;
}

.yess image,
.nos image {
  margin-left: 10rpx;
  height: 30rpx;
  width: 30rpx;
  vertical-align: middle;
}

.moreresult {
  width: 544rpx;
  height: auto;
  margin: 0 auto;
  margin-top: 60rpx;
  background: #fff;
  border-radius: 20rpx;
  margin-bottom: 180rpx;
  padding-bottom: 54rpx;
}

.eyeproblems {
  width: 100%;
  height: auto;
}

.skinColor image,
.Stains image,
.Wrinkleproblem image,
.Poreproblems image,
.Acneproblems image,
.moleproblems image,
.eyeproblems image,
.blackheadproblem image {
  height: 30rpx;
  width: 30rpx;
  margin-left: 28rpx;
  vertical-align: middle;
  margin-top: 2rpx
    /*视乎没有对齐*/
}

.skinColor .name,
.Stains .name,
.Wrinkleproblem .name,
.Poreproblems .name,
.Acneproblems .name,
.moleproblems .name,
.eyeproblems .name,
.blackheadproblem .name {
  margin-left: 22rpx;
  margin-right: 5rpx;
  font-size: 28rpx;
  color: #000;
  line-height:30rpx;
  height:30rpx;
  overflow:hidden
}

.skinColor .title,
.Stains .title,
.Wrinkleproblem .title,
.Poreproblems .title,
.Acneproblems .title,
.moleproblems .title,
.eyeproblems .title,
.blackheadproblem .title {
  height: 28rpx;
  width: 100%;
  line-height: 28rpx;
  margin-top: 50rpx;
  display: flex;
  /*左右居中*/
  justify-content: flex-start;
  /*上下居中*/
  align-items: center;
}

.showmg {
  height: 90rpx;
  margin-top: 47rpx;
  margin-bottom: 20rpx;
  margin-left: 76rpx;
  width: auto;
  position: relative;
}

.showmg .topxz {
  margin-top: 18rpx;
}

.showmg .bottomtext view {
  width: 80rpx;
  height: 20rpx;
  line-height: 20rpx;
  float: left;
  text-align: center;
  color: #000;
  font-size: 15rpx;
  margin-top: 10rpx;
}

.showmg .topxz view {
  width: 80rpx;
  height: 18rpx;
  float: left;
  z-index: 2;
}

.showmg .topxz view view {
  height: 50rpx;
  width: 50rpx;
  border-radius: 50%;
  border: 2rpx solid #fff;
  text-align: center;
  position: absolute;
  line-height: 50rpx;
  color: #fff;
  font-size: 15rpx;
  font-weight: bold;
  top: 0rpx;
}

.tb {
  background: #f9e6d8;
  border-radius: 8rpx 0 0 8rpx;
}

.tb view {
  background: #f6d5c4;
  left: 14rpx;
}

.bx {
  background: #f6d5c4;
}

.bx view {
  background: #f6d5c4;
  left: 94rpx;
}

.zr {
  background: #eec5a5;
}

.zr view {
  background: #eec5a5;
  left: 174rpx;
}

.xm {
  background: #c29c89;
}

.xm view {
  background: #c29c89;
  left: 254rpx;
}

.yh {
  background: #5e4c43;
  border-radius: 0 8rpx 8rpx 0;
}

.yh view {
  background: #5e4c43;
  left: 334rpx;
}

.skinColorResult,
.StainsResult,
.Poreresults,
.Acneresults,
.moleresults,
.eyeresults {
  width: 491rpx;
  font-size: 20rpx;
  line-height: 28rpx;
  color: #cdb5a2;
  padding: 0 28rpx 0rpx 28rpx;
  line-height:1.6;
}

.Wrinkleresults {
  width: 491rpx;
  font-size: 20rpx;
  line-height: 28rpx;
  color: #cdb5a2;
  padding: 0 28rpx 0rpx 28rpx;
  line-height:1.6;
}

.showStainsmg {
  height: 90rpx;
  margin-top: 47rpx;
  margin-bottom: 33rpx;
  margin-left: 100rpx;
  width: auto;
  display: block;
  position: relative;
}

.showStainsmg .bottomtext {
  width: auto;
  display: block;
}

.showStainsmg .bottomtext view {
  width: 100rpx;
  height: 18rpx;
  float: left;
  text-align: center;
  color: #000;
  margin-top: 10rpx;
  margin-right: 5rpx;
}

.showStainsmg .topxz {
  width: 100%;
  margin-top: 17rpx;
  display: block
}

.showStainsmg .topxz>view {
  width: 100rpx;
  height: 10rpx;
  float: left;
  margin-right: 5rpx;
}

.showStainsmg .topxz .sl {
  background: #e9dcd3;
  border-radius: 5rpx 0 0 5rpx;
}

.showStainsmg .topxz .zl {
  background: linear-gradient(to right, #e9dcd3, #bdcbe6);
}

.showStainsmg .topxz .dl {
  border-radius: 0 5rpx 5rpx 0;
  background: #bdcbe6;
}

.showStainsmg .topxz view view {
  height: 18rpx;
  width: 18rpx;
  border-radius: 50%;
  border: 2rpx solid #fff;
  text-align: center;
  position: absolute;
  top: 12rpx;
  color: #fff;
}

.pictureItem {
  height: 116rpx;
  width: 116rpx;
  border-radius: 50%;
  margin: 0 7rpx;
  display: inline-block;
  position: relative;

}

.pictureItem image {
  display: block;
  position: absolute;
  margin-left: -58rpx;
  left: 50%;
  margin-top: -54rpx;
  top: 50%;
  height: 100%;
  width: 100%;
}

.pictureresult {
  height: 128rpx;
  width: 128rpx;
  margin: 0 auto;
  margin-top: 20rpx;
}

.pictureresult image {
  height: 128rpx;
  width: 128rpx;
  margin: 0 auto;
}
.pictureresult2 {
  height: 107rpx;
  width: 153rpx;
  margin: 0 auto;
  margin-top: 20rpx;
}

.pictureresult2 image {
  height: 107rpx;
  width: 153rpx;
  margin: 0 auto;
}
.pictureresultx {
  height: 128rpx;
  width: 128rpx;
  margin: 0 auto;
  margin-top: 36rpx;
}

.pictureresultx image {
  height: 128rpx;
  width: 128rpx;
  margin: 0 auto
}
.pictureresultx2 {
  height: 107rpx;
  width: 153rpx;
  margin: 0 auto;
  margin-top: 36rpx;
}

.pictureresultx2 image {
  height: 107rpx;
  width: 153rpx;
  margin: 0 auto
}
.kind {
  width: 358rpx;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /*左右居中*/
  justify-content: space-between;
  height: 22rpx;
  margin-bottom: 52rpx;
}

.kind .kindColor {
  height: 9rpx;
  margin-top: 7rpx;
  width: 36rpx;
  float: left;
}

.kind .kindText {
  height: 22rpx;
  margin-left: 11rpx;
  float: left;
  line-height: 22rpx;
}

.pictureFace {
  height: 156rpx;
  width: 296rpx;
  margin: 0 auto;
  position: relative;
  margin-top: 52rpx;
}

.pictureFace image {
  height: 156rpx;
  width: 296rpx;
  position: absolute;
  top: 50%;
  margin-top: -78rpx;
  left: 50%;
  margin-left: -148rpx;
}

.kindof {
  height: 14rpx;
  width: 126rpx;
  position: relative;
  left: 50%;
  margin-left: -65rpx;
  top: 84rpx;
}

.kindof image {
  height: 12rpx;
  width: 126rpx;
  position: absolute;
  top: 50%;
  margin-top: -6rpx;
  left: 50%;
  margin-left: -63rpx;
}

.backtop {
  height: 90rpx;
  width: 90rpx;
  position: fixed;
  bottom: 200rpx;
  right: 56rpx;
  z-index: 999;
}

.backtop image {
  margin: 0;
  padding: 0;
  display: block;
  height: 90rpx;
  width: 90rpx;
}